.overlay {
    /* Custom Style */
    opacity: 1 !important;
    background: rgba(255, 0, 0, 0.0) !important;
    z-index: 1000000000 !important;
}
.overlayOpen {
    /* Disable default keyframe */
    animation: unset !important;
    /* Custom Style */
    background: rgba(0, 55, 252, 0.196) !important;
    transition: background 1000ms ease-in-out !important; 
}
.overlayClose {
    /* Disable default keyframe */
    animation: unset !important;
    /* Custom Style */
    background: rgba(0, 0, 0, 0.0) !important;
    transition: background 1000ms ease-in-out !important; 
}


.modal {
    /* Custom Style */
    opacity: 0.0 !important;
    transform: scale(1.0) !important;
    background: rgba(255, 255, 255, 1) !important;
}
.modalOpen {
    /* Disable default keyframe */
    animation: unset !important;
    /* Custom Style */
    opacity: 1 !important;
    transition: opacity 1000ms ease-in-out !important;
}
.modalClose {
    /* Disable default keyframe */
    animation: unset !important;
    /* Custom Style */
    opacity: 0.0 !important;
    transition: opacity 1000ms ease-in-out !important;
}
