.wrapper {
    width :100%;
    height: 100%;
    max-width : 100%;
    max-height: 100%;
    min-width : 100%;
    min-height: 100%;
    margin : 0;
    padding: 0;
    border : 0;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap   : 0px;
    grid-template-columns: minmax(0, 1fr); 
    grid-template-rows   : minmax(0, 1fr);    
}
.wrapperTS {
    grid-template-columns: minmax(0, 1fr) 12px; /* Prima colonna flessibile, seconda colonna di 12px */
    grid-template-rows   : minmax(0, 1fr);         /* Prima riga flessibile, seconda riga di 12px */
}
.wrapperLS {
    grid-template-columns: minmax(0, 1fr); /* Prima colonna flessibile, seconda colonna di 12px */
    grid-template-rows   : minmax(0, 1fr) 12px;    /* Prima riga flessibile, seconda riga di 12px */
}
.wrapperTLS {
    grid-template-columns: minmax(0, 1fr) 12px; /* Prima colonna flessibile, seconda colonna di 12px */
    grid-template-rows   : minmax(0, 1fr) 12px;    /* Prima riga flessibile, seconda riga di 12px */
}

.body {
    margin :0;
    padding: 0;
    border : 0;
    overflow: auto;
}

.hideScrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

.hideScrollbar::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
}

.customScrollbar {
    padding:0;
    margin :0;
    border :0;
    background-color: rgba(0, 0, 0, 0.2);
    max-height: minmax(0, 1fr);
    max-width : minmax(0, 1fr);
    border-radius: 6px;
}