.arrowWrapper {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 0.25rem;
    color:inherit;
}

.arrow {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    transition: transform 0.3s ease;
    transform-origin: center;
    color:inherit;
}

.chevron::before {
    content: '';
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    min-width: 0.5rem;
    min-height: 0.5rem;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(-45deg); 
    transition: transform 0.3s ease;
}

.arrow.caret {
    width: 0.4rem;
    height: 0.4rem;
    min-width: 0.4rem;
    min-height: 0.4rem;
    background-color: currentColor;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border: 1px solid black;
    transition: transform 0.3s ease;
}