.box {
    width :100%;
    height: 100%;
    margin : 0;
    padding: 0;
    border : 0;
}

.wrapper {
    position:relative;
    overflow: auto;
}

.overflowInvoker {
    overflow: hidden;
    position:absolute;
}

.contentWrapper {
    overflow: hidden;
    position:sticky;
    top:0;
    left:0;
}
