.splitter {
    height: calc(100% - 50px);

}



.divider {
    background-color:#DDDDDD;
}
.divider:hover::before, .divider:active::before {
    background-color:rgb(104, 1, 231);
}



.burgerButton span{
    background-color: rgb(104, 1, 231) !important;
}
/* Hover Styles */
.burgerButton:hover > span {
    background-color: #0a7b0c !important;
}
/* Checked Styles */
.burgerButton input:checked ~ span {
    background-color: rgb(104, 1, 231);
    width: 30%;
}
.burgerButton:hover input:checked ~ span {
    background-color: #0a7b0c;
    width: 10%;
}







.backdrop.customBackdrop {
    animation: unset;
    opacity: 1;
    background: rgba(0, 0, 0, 0);
}
.backdrop.customBackdrop.open {
    animation: unset;
    background: rgba(255, 0, 0, 0.5);
    transition: background ease-in-out; /* Mantiene il fade */
}
.backdrop.customBackdrop.close {
    animation: unset;
    background: rgba(0, 0, 0, 0);
    transition: background ease-in-out; /* Mantiene il fade */
}


.modal.customModal {
    animation: unset;
    opacity: 1;
    transform: scale(1.0);
    background: rgba(0, 0, 200, 0);
}
.modal.customModal.open {
    animation: unset;
    background: rgba( 0, 200, 0, 0);
    transition: background ease-in-out;
}
.modal.customModal.close {
    animation: unset;
    background: rgba(0, 0, 200, 0);
    transition: background ease-in-out;
}
