.iconWrapper {
    display: flex; 
    align-items: center;
    justify-content: center;
    width     : 23px;
    height    : 23px;
    min-width : 23px;
    min-height: 23px;
    gap:0.25rem;
    color:inherit;
}

.icon {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    transform-origin: center;
    color:inherit;
}

.icon path {
    fill: currentColor;
}

.icon line, .icon polyline {
    stroke: currentColor;
    fill: none; 
}